body {
  font-family: "Comfortaa", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #e4bba1;
  text-align: center;
  padding: 20px;
}

.header h1 {
  margin: 10px 0;
}

.about {
  background-image: url(./img/background-hero.png);
  background-size: 600px 600px;
  background-repeat: repeat;
  display: flex;
  justify-content: center; /* Відцентровано по горизонталі */
  align-items: center; /* Відцентровано по вертикалі */
  gap: 20px;
  text-align: left;
  padding: 20px;
  height: 300px;
}

.about img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
.hello-text {
  width: 700px;
  font-size: 16px;
}

.sessions {
  height: 500px;
  padding: 20px;
  background-image: url(./img/background.png);
  background-size: 600px 600px;
  background-repeat: repeat;
}

.sessions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.session-box {
  border: 1px solid #ddd;
  padding: 15px;
  width: 200px;
  height: 400px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.session-box h3 {
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  margin: 10px 0;
}

.more-info {
  background-color: #e4bba1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.more-info:hover {
  background-color: #e0b397;
  padding: 12px 22px;
}

.session-details.hidden {
  display: none;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #f1e1cf;
  color: #8d664e;
}

.footer a {
  color: #ff9800;
  text-decoration: none;
}
.contain-logo {
  display: flex;
  gap: 10px;
  justify-content: left;
  align-items: center;
}
/* МОДАЛЬНЕ ВІКОНЕЧКО */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modal.active {
  display: flex;
}

.modal-content {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  max-width: 1000px;
  width: 100%;
  height: auto;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

body.modal-open {
  overflow: hidden;
}
.slider {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-ul li {
  list-style: disc;
  margin: 2px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 500%;
}

.slides img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.prev-slide,
.next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
}

.prev-slide {
  left: 10px;
}

.next-slide {
  right: 10px;
}

.prev-slide:hover,
.next-slide:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
